{% extends 'adminpanel/base_admin.html' %}
{% block title %}{{ title }} | AuroraMart Admin{% endblock %}

{% block content %}
<h2>{{ title }}</h2>
<div class="card">
  <div class="card-body">
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <div class="mb-3">
          {{ field.label_tag }}<br>
          {{ field }}
          {% if field.errors %}
            <div class="text-danger">{{ field.errors }}</div>
          {% endif %}
        </div>
      {% endfor %}
      <button class="btn btn-accent" type="submit">Save</button>
      <a href="{% url 'adminpanel:customer_list' %}" class="btn btn-outline">Cancel</a>
    </form>
  </div>
</div>
{% endblock %}
