{% load static %}

<nav class="nav-wrap">
    <div class="nav">
      <div class="brand">
        <img src="{% static 'storefront/images/Logo.png' %}" alt="AuroraMart logo" class="logo-img">
        <a href="{% url 'storefront:home' %}"><h1 class="wordmark">AuroraMart</h1></a>
      </div>
      <div class="nav-links">
        <a class="chip" href="{% url 'storefront:product_list' %}">Shop</a>
        <a class="chip" href="{% url 'storefront:cart_view' %}">Cart</a>
        {% if user.is_authenticated %}
          <a class="chip" href="{% url 'storefront:recommendations' %}">For You</a>
          <a class="chip" href="{% url 'storefront:logout' %}">Logout</a>
        {% else %}
          <a class="chip primary" href="{% url 'storefront:login' %}">Login</a>
          <a class="chip" href="{% url 'storefront:register' %}">Sign Up</a>
        {% endif %}
      </div>
    </div>
  </nav>  